﻿body {
    font-size: 15px;
    max-width: 1000px;
    margin: auto;
}

p {
    font-size: 20px;
}

table {
    border: 2px solid #D3D3D3;
    background-color: #f2f2f2;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.space {
    padding-right: 40px;
    font-size: 15px;
}

.dd {
    margin-bottom: 15px;
    font-size: 18px;
}

.sub {
    font-size: 15px;
}

.left {
    font-size: 15px;
}

input[type=text], select {
    width: 200%;
    margin-bottom: 10px;
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=radio] {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

section#mailInfo {
    width: 550px;
    float: left;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 15px;
}

section#cart {
    width: 400px;
    float: left;
    margin-top: 10px;
}

section#billInfo {
    width: 550px;
    float: left;
    padding-bottom: 50px;
    clear: both;
}

.cart {
    border: 2px solid #D3D3D3;
    background-color: white;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#Image1 {
    margin-left: 15px;
    width: 15px;
}

#Image2 {
    margin-top: 10px;
    margin-left: 15px;
    width: 20px;
}

#Image3 {
    width: 70px;
    padding-right: 30px;
}

#Image4 {
    width: 60px;
    padding-right: 30px;
    padding-top: 15px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    width: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.b1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

    .b2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

.auto-style1 {
    width: 538px;
}

.auto-style2 {
    height: 73px;
}
